/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

$backgroundColor: white;
$textHuge: 120px;

.text-center {
  text-align: center;
}

body {
  background-color: $backgroundColor;
}

.md-container {
  max-width: 960px;
  padding-top: 2rem;
}

.sml-card {
  margin: 1rem 0;
}

.logo-text {
  @extend .text-center;
  font-size: $textHuge;
  margin-bottom: 30px;
}

.subhead-text {
  @extend .text-center;
  margin-top: 30px;
  font-size: 16px;
}

.videobox {
  margin-top: 40px;
}
